<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsL2fe--m3LaUy6_iDopM7-OOJQVazees</string>
	<key>GCM_SENDER_ID</key>
	<string>338156506675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zoommylife.zoomMyLifeApp</string>
	<key>PROJECT_ID</key>
	<string>zoom-my-life</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-my-life.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338156506675:ios:763cd20301c5d206d65d46</string>
</dict>
</plist>